extends layout

block content

  // トップページ

  // ログインしているユーザーの状況に応じて表示
  .card
    h2.card-header STATUS
    .card-body
      if user
        p.card-text= `ようこそ、@${user.userName}さん！`

        if user.disabled
          p.caard-text キャラクターが未設定です。

        else
          ul.card-text
            li= user.characterName
            li= World.name(user.world)
            li= Category[user.category]

        a.card-link(href="/edit") 設定
        a.card-link(href="/revoke") 解除

      else
        p.card-text ログインしていません。
        a.card-link(href="/auth/twitter") ログイン

  // ユーザー向け読んでね事項
  .readme.card

    include ./includes/readme
