extends layout

block content

  // トップページ

  header
    h1 JMS Ranking Tweet

  p メイプルストーリーの毎日の経験値・ランキング変動をツイートするサービスです。

  // ログインしているユーザーの状況に応じて表示
  .status
    if user
      p= `ようこそ、@${user.userName}さん！`

      if user.characterName
        .status__character
          ul
            li= user.characterName
            li= user.world
            li= user.category
      else
        p キャラクターが未設定です。

    else
      p ログインしていません。
        a(href='/auth/twitter') ログイン

  // ユーザー向け読んでね事項
  div(class='readme')
    include:markdown-it ./includes/readme.md
