extends layout

block content

  // トップページ

  // ログインしているユーザーの状況に応じて表示
  .card.mb-4
    h2.card-header STATUS
    .card-body
      if user
        p.card-text= `ようこそ、@${user.userName}さん！`

        if user.disabled
          p.caard-text キャラクターが未設定です。

        else
          p.card-text= `${user.characterName}（${World.name(user.world)} / ${Category[user.category]}）`

        a.card-link(href="/edit") 設定
        a.card-link(href="/revoke") 解除

      else
        p.card-text ログインしていません。
        a.card-link(href="/auth/twitter") ログイン

  // ユーザー向け読んでね事項
  .readme.card.mb-4

    include ./includes/readme

  .changelog.card

    include ./includes/changelog
