h2.card-header CHANGELOG

.card-body

  ul.card-text
    li 10/29 試験的に1週間分の経験値遷移グラフを表示してみるようにしました。
    li 10/28 自分のアカウントで呟く代わりにBotからメンションを受ける設定を暫定的に実装してみました。
    li 2018/10/27 サーバー移動しました（flexible→standard）あと多分アークに対応しました。
    li 01/24 ランクアウトしている間はツイートしないようにしました。
    li 12/20 カデナに対応しました。（多分実際に登録できるのは21日以降です）
    li 12/19 データ取得失敗時に、一定間隔あけてから何回か試すようにしました。
    li 12/18 データ取得がうまく動かなくなったため、暫定的に新規登録とツイートを停止しています。
    li 11/16 経験値閾値設定ができるようになりました。
    li 11/08 集計間隔を毎日か週１かで選べるようにしました。
    li 11/08 ツイート時刻設定を追加してみました。
