h2.card-header README

.card-body

  p.card-subtitle.mb-2.text-muted （これを使う前に読んでおいたほうがいいこと。）

  h3.card-title 使い方

  p.card-text
    ol
      li ログインします。
      li 設定画面からキャラクター情報を入力します。
      li しばらく待ちます。2日くらい待ちます。気長に待ちましょう。
      li 多分午前9時くらいにツイートします。

  h3.card-title 注意事項

  p.card-text
    ul
      li 非公式のサービスです。ご了承ください。
      li 現在ベータテスト中です。落ち着いたら多分URL変わります。
      li ワールド・職業別ランキングにのっていないと経験値が取得できません。
      li レベル250のキャラクターは新規に登録できません。登録済みの場合はツイートされません。
      li ワールド移動したときは設定画面から設定しなおしてね。
      li 公式のランキングページの仕様変更で急に使えなくなったりします。

  h3.card-title プライバシーポリシー

  p.card-text
    a(href="https://github.com/juukuzi/jms-ranking/blob/master/resources/public/privacy-policy.md") こちら
    | にあります。

  h3.card-title そのた

  p.card-text このサービスはオープンソースです。
    br
    | ソースコードは
    a(href="https://github.com/juukuzi/jms-ranking") GitHub
    | に置いてあります。
    br
    | プルリクエストも受け付けています。だれかここのCSSとかなんとかしてくれないかな！
